{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "indentation": null,
    "max-nesting-depth": null,
    "no-empty-source": null,
    "no-descending-specificity": null,
    "order/properties-alphabetical-order": null,
    "property-no-vendor-prefix": null,
    "selector-max-compound-selectors": null,
    "value-no-vendor-prefix": null
  },
  "ignoreFiles": [
    "./node_modules/**/*.{css,scss,sass}",
    "./dist/**/*.{css,scss,sass}"
  ]
}
